/ProjetoEntradaDados/build/
/Exercicio2/nbproject/private/
/Exercicio2/build/
/Exercicio3/nbproject/private/
/Exercicio3/build/
/Exercicio4/nbproject/private/
/Exercicio4/build/
/Exercicio1.2/nbproject/private/
/exercicio1.2/build/
/Exercicio1.2/build/
/Exercicio2.2/nbproject/private/
/Exercicio2.2/build/
/Exercicio3.2/nbproject/private/
/Exercicio3.2/build/
/Exercicio4.2/nbproject/private/
/Exercicio4.2/build/